<div class="container">
    <h2>Employee Single Page</h2>
    <h4>Name:</h4> {{firstName}} {{lastName}},
    <h4>Position:</h4>{{position}}<br>
    <button class="btn btn-primary" type="submit">Return</button>
</div>